.cache/
.mixin.out/
.vscode/
att-debug/
coremods/
crash-reports/
data/
debug/
fancymenu_data/
fancymenu_setups/
local/
logs/
moddata/
modernfix/
mods/
resourcepacks/
saves/
screenshots/
scripts/
server-resource-packs/
shaderpacks/
texturepacks/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/

#####################

.qmenu_opened.marker
deaths.dat
emi.json
enigmatic_persistence.dat
fabricloader.log
hs_err_pid*
mods.7z
options.txt
patchouli_data.json
replay*
TrashSlotSaveState.json
usercache.json
usernamecache.json
config/darkmodeeverywhereshaders.json
config/everycomp-hazardous.properties
config/oculus.properties
config/xaerominimap_entities.json
config/fabric/indigo-renderer.properties
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/occlusion.properties
config/jei/recipe-category-sort-order.ini
kubejs/assets/kubejs/textures/item/message.txt
servers.dat
servers.dat_old
config/controlify.json
config/everycomp-hazardous.properties
config/oculus.properties
config/xaerominimap_entities.json
config/fabric/indigo-renderer.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
servers.dat
servers.dat_old
config/everycomp-hazardous.properties
config/oculus.properties
config/fabric/indigo-renderer.properties
config/sound_physics_remastered/allowed_sounds.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
