.cache/
.mixin.out/
.vscode/
att-debug/
coremods/
crash-reports/
data/
debug/
fancymenu_data/
fancymenu_setups/
local/
logs/
moddata/
modernfix/
mods/
resourcepacks/
saves/
screenshots/
scripts/
server-resource-packs/
shaderpacks/
texturepacks/
XaeroWaypoints/
XaeroWaypoints_BACKUP032021/
XaeroWorldMap/

#####################

.qmenu_opened.marker
deaths.dat
emi.json
enigmatic_persistence.dat
fabricloader.log
hs_err_pid*
mods.7z
options.txt
patchouli_data.json
replay*
TrashSlotSaveState.json
usercache.json
usernamecache.json
