# IDE and System files
.DS_Store
.vscode/

# Logs and Debug
logs/
debug/
att-debug/
crash-reports/
fabricloader.log
hs_err_pid*

# Minecraft Game Data
saves/
screenshots/
servers.dat
servers.dat_old
deaths.dat
options.txt
usercache.json
usernamecache.json

# Mods and Resources
mods/
coremods/
moddata/
resourcepacks/
server-resource-packs/
shaderpacks/
texturepacks/

# Mod-specific Data
.cache/
local/
modernfix/
fancymenu_data/
fancymenu_setups/
scripts/
XaeroWaypoints*
XaeroWorldMap/
xaero/
chesttracker/
minemenu/
controlify-natives/
rhino.local.properties

# Backups
backups/
simplebackups/

# Config Files
config/darkmodeeverywhereshaders.json
config/everycomp-hazardous.properties
config/oculus.properties
config/xaerominimap_entities.json
config/fabric/indigo-renderer.properties
config/jei/recipe-category-sort-order.ini
config/controlify.json
config/everycomp-common.toml
config/necronomicon.json5
config/smallships-common.toml
config/apotheosis/enchantments.cfg
config/apotheosis/names.cfg
config/bclib/cache.json
config/eldritch_end/eldritch_end-client.json
config/eldritch_end/biomes/hasturian_wastes.json
config/eldritch_end/biomes/primordial_abyss.json
config/eldritch_end/bosses/hastur.json
config/eldritch_end/entities/aberration.json
config/eldritch_end/entities/dendler.json
config/eldritch_end/entities/tentacle.json
config/eldritch_end/mechanics/corruption.json
config/fancymenu/layout_editor/widgets/element_layer_control.lewidget
config/spark/
config/voicechat/username-cache.json
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/sound_physics_remastered/
config/quark-common.toml
config/jade/sort-order.json
config/jei/ingredient-list-mod-sort-order.ini
config/jade/plugins.json
config/xaerominimap.txt
config/everycomp-entries.toml
config/attributefix.json
config/craftpresence.json
config/jaopca/materials
config/jei/ingredient-list-type-sort-order.ini
config/voicechat/username-cache.json

# Other Generated Files
.mixin.out/
.qmenu_opened.marker
enigmatic_persistence.dat
mods.7z
patchouli_data.json
replay*
TrashSlotSaveState.json
data/fabricDefaultResourcePacks.dat
kubejs/assets/kubejs/textures/item/message.txt

config/packetfixer.properties
